.infopage{
        height: 100%;
        width: 100%;
        background-color:rgb(204, 199, 199);
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: scroll;
        display: flex;
        align-items: center;
        justify-content: center;
}